<li id="<%= element_item.id %>">
SCHEDULE <%= schedule_item.id %>
<% if current_user?(schedule_item.user) %>
	<%= link_to "delete", schedule_item, method: :delete,
																			 confirm: "You sure?",
																			 title: "Schedule" + schedule_item.id.to_s %>
	<%= render 'shared/element_form' %>
<% end %>
</li>